.modal-user{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  .modal-back{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
  }
  .modal-form{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background: white;
  }
}