﻿
<div class="example-header">
    <h1>Invoice List </h1>
    <button mat-raised-button color="primary"  (click)="exportXL()"   >Export(XL)</button>
    <button mat-raised-button color="accent"  (click)="add()"  *ngIf="isSuper">NEW</button><br>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
    <mat-spinner *ngIf="isFilnishLoaded"></mat-spinner>
    <mat-table [dataSource]="dataSource" matSort>

     <!--   &lt;!&ndash; ID Column &ndash;&gt;
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>-->
        <!-- ID Column -->
        <ng-container matColumnDef="item">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice NO. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.item}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdAt|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="billDueDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Bill Due Date  </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billDueDate|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
        </ng-container>
        <!-- Name Column -->Amount Due

        <ng-container matColumnDef="amountDue">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.amountDue}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amountPaid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.amountPaid}} </mat-cell>
        </ng-container>
        <!-- Name Column -->

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="invoiceFrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice From</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.invoiceFrom}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="billToClientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Client</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientName}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="billToClientPhone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Client Contact(Phone)</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientPhone}} </mat-cell>
        </ng-container>

        <!-- Name Column -->

        <ng-container matColumnDef="billToClientEmail">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Client Contact(Email)</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientEmail}} </mat-cell>
        </ng-container>
        <!-- Name Column -->

        <ng-container matColumnDef="billToClientAdress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Address</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientAdress}} </mat-cell>
        </ng-container>
        <!-- Name Column -->

        <ng-container matColumnDef="billToClientCity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to City</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientCity}} </mat-cell>
        </ng-container>
        <!-- Name Column -->


        <ng-container matColumnDef="billToClientState">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to State</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientState}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="billToClientCountry">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Country</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientCountry}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="billToClientZipCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to ZipCode</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientZipCode}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions" *ngIf="isSuper">
            <mat-header-cell *matHeaderCellDef  >Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span matTooltip="Edit" [matTooltipPosition]="'above'"><mat-icon (click)="select(row)">mode_edit</mat-icon></span>
                <span matTooltip="Remove" [matTooltipPosition]="'above'"> <mat-icon (click)="remove(row)">delete</mat-icon></span>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

