﻿<mat-spinner *ngIf="isFilnishLoaded"></mat-spinner>
<div class="my-row">
    <div class="col-sm-3" *ngIf="userService.USER.role == confService.USER_ROLE.SUPER">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/256/users-2-icon.png">
                </div>
                <div class="card-header">
                    <h4 class="header-top">Count of Users: {{adminService.users.length}}</h4>
                </div>
            </div>

            <div class="card-actions">
                <button mat-button [routerLink]="['/users']">VIEW</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="userService.USER.role == confService.USER_ROLE.SUPER">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/256/users-2-icon.png">
                </div>
                <div class="card-header">
                    <h4 class="header-top">Count of Logged in Users: {{data.countLogIn}}</h4>
                </div>
            </div>

            <div class="card-actions">
                <button mat-button [routerLink]="['/users']">VIEW</button>
                <button mat-button (click)="loadStatistic()">REFRESH</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="userService.USER.role == confService.USER_ROLE.SUPER">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/256/users-2-icon.png">
                </div>
                <div class="card-header">
                    <h4 class="header-top">Count of Invoices: {{data.countInv}}</h4>
                </div>
            </div>

            <div class="card-actions">
                <button mat-button [routerLink]="['/invoices']">VIEW</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="userService.USER.role == confService.USER_ROLE.ADMIN">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/256/users-2-icon.png">
                </div>
                <div class="card-header">
                    <h4 class="header-top">Count of Invoices in Inbox: {{data.countInv}}</h4>
                </div>
            </div>

            <div class="card-actions">
                <button mat-button [routerLink]="['/inbox']">VIEW</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3" >
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img src="http://simpleicon.com/wp-content/uploads/mail-open-1.png">
                </div>
                <div class="card-header">
                    <h4 class="header-top">Count of Customers: {{adminService.customers.length}}</h4>
                </div>
            </div>

            <div class="card-actions">
                <button mat-button [routerLink]="['/customers']">VIEW</button>
            </div>
        </div>
    </div>


</div>
<div class="my-row">
    <div class="col-sm-12">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview" style="width: 100%">
                    <h4 class="header-top">Activity</h4>
                    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="user">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.user}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="changes">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Changes </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.changes}} </mat-cell>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="createdAt">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.createdAt|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="card-actions">
                <button mat-button [routerLink]="['/activity']">VIEW</button>
            </div>
        </div>
    </div>

</div>
