
.mat-dialog-content{
  overflow: auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border:1px solid black;
  min-width: 150px;
}
img{
  width: 30px;
}