﻿
<div class="example-header">
    <h1>Invoice Inbox </h1>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
    <mat-spinner *ngIf="isFilnishLoaded"></mat-spinner>
    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice NO. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdAt|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="billDueDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Bill Due Date  </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billDueDate|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
        </ng-container>
        <!-- Name Column -->Amount Due

        <ng-container matColumnDef="amountDue">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.amountDue}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amountPaid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.amountPaid}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="invoiceFrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice From</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.invoiceFrom}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="billToClientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Bill to Client</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.billToClientName}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions" >
            <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span matTooltip="View" [matTooltipPosition]="'above'"><mat-icon (click)="select(row)">mode_edit</mat-icon></span>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

