.example-container{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #eeeeee;
  h2{
    background: #e9e9e9;
    padding: 15px 20px;
    margin: 0;
  }
  form{
    width: 100%;
    padding: 15px 20px;
    margin: 0;
  }

}
.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}