﻿
<div class="example-header">
   <h1>List of Users </h1>
   <button mat-raised-button color="primary"  (click)="exportXL()"   >Export(XL)</button>
   <button mat-raised-button color="accent"  (click)="addNewUser()">Add new user</button><br>
   <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
   </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
   <mat-spinner *ngIf="isFilnishLoaded"></mat-spinner>
   <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
         <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="email">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="createdAt">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.createdAt|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
         <mat-header-cell *matHeaderCellDef  >Actions </mat-header-cell>
         <mat-cell *matCellDef="let row">
            <span matTooltip="Ban/Activate" [matTooltipPosition]="'above'"><mat-icon (click)="update(row)"[innerText]="row.status==1?'remove circle ':'add circle '">build</mat-icon></span>
            <span matTooltip="Edit" [matTooltipPosition]="'above'"><mat-icon (click)="select(row)">mode_edit</mat-icon></span>
            <span matTooltip="Remove" [matTooltipPosition]="'above'"> <mat-icon (click)="remove(row)">delete</mat-icon></span>
         </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
   </mat-table>

   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

