﻿<!--<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="name">Dessert (100g)</th>
        <th mat-sort-header="calories">Calories</th>
        <th mat-sort-header="fat">Fat (g)</th>
        <th mat-sort-header="carbs">Carbs (g)</th>
        <th mat-sort-header="protein">Protein (g)</th>
    </tr>

    <tr *ngFor="let dessert of sortedData">
        <td>{{dessert.name}}</td>
        <td>{{dessert.calories}}</td>
        <td>{{dessert.fat}}</td>
        <td>{{dessert.carbs}}</td>
        <td>{{dessert.protein}}</td>
    </tr>
</table>-->



<div class="example-header">
    <h1>List of Activity </h1>
    <button mat-raised-button color="primary"  (click)="exportXL()"   >Export(XL)</button>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<mat-spinner *ngIf="isFilnishLoaded"></mat-spinner>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.user}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="changes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Changes </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.changes}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdAt|date:'MM/dd/yyyy hh:mm'}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
