﻿<div class="col-sm-12">
    <h4 class="header-top">Setup WorkFlow</h4>
    <table class="table table-hover">
        <thead>
        <tr style="    background: #cccccc;">
            <td>Step</td>
            <td>User(Email)</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let workF of workFlowList; let i = index">
            <td>{{i+1}}</td>
            <td [innerText]="getUser(workF.personPendingId,'email')"></td>
            <td [innerText]="getUser(workF.personPendingId,'firstName')"></td>
            <td [innerText]="getUser(workF.personPendingId,'lastName')"></td>
            <td>
                <span matTooltip="Edit" [matTooltipPosition]="'above'"><mat-icon
                        (click)="select(workF)">mode_edit</mat-icon></span>
                <span matTooltip="Remove" [matTooltipPosition]="'above'"> <mat-icon
                        (click)="remove(i,workF)">delete</mat-icon>
                </span></td>
        </tr>
        </tbody>
    </table>
    <button mat-button mat-raised-button color="primary" (click)="add()">Add more</button>
</div>