/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
  background-color: #40aaff;
}

.mat-icon,a{
  cursor: pointer;
}
.mat-header-row{
  background: #cccccc;
}
.mat-form-field-flex{
  background: white;
  padding: 0 10px;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
