﻿<div class="col-sm-12">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/']">
                    Some logo
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['/profile']">Profile</a></li>
                <li *ngIf="userService.isSuperAdmin()"><a
                       [routerLink]="['/users']">Users({{adminService.users.length}})</a></li>
                <li *ngIf="userService.isSuperAdmin()"><a
                       [routerLink]="['/workflow']">WorkFlow</a></li>
                <li><a [routerLink]="['/invoices']">Invoices</a>
                <li *ngIf="userService.isAdminOnly()"><a [routerLink]="['/inbox']">Inbox</a>
                <li><a [routerLink]="['/customers']">Customers({{adminService.customers.length}})</a>
                </li>
                <li><a [routerLink]="['/activity']">Activity</a></li>
                <li><a [routerLink]="['/mail']">Mail</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/profile']"> {{userService.USER.firstName}}
                    {{userService.USER.lastName}}{{userService.USER.role}}</a></li>
                <li><a  (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>
                    Logout</a></li>

            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>