﻿<div mat-dialog-content>
   <h2 [innerText]="data.model.id?'Update Invoice':'Create Invoice'"></h2>
   <form class="example-form" name="form" [formGroup]="invoiceForm" autocomplete="off"  novalidate>
      <p>
         <mat-form-field class="col-sm-2">
            <input matInput placeholder="Invoice No"
                   autocomplete="off"
                   type="number"
                   maxlength="30"
                   [(ngModel)]="data.model.item"
                   [formControl]="invoiceForm.controls.item"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
         <mat-form-field class="col-sm-5">
            <input matInput placeholder="Client Name"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.billToClientName"
                   [formControl]="invoiceForm.controls.billToClientName"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
                    *ngIf="invoiceForm.controls.billToClientName.hasError('required')">
               Client Name is required
            </mat-error>
         </mat-form-field>
         <mat-form-field class="col-sm-5">
            <input matInput placeholder="Invoice from"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.invoiceFrom"
                   [formControl]="invoiceForm.controls.invoiceFrom"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
                    *ngIf="invoiceForm.controls.invoiceFrom.hasError('required')">
               Invoice from is required
            </mat-error>
         </mat-form-field>
      </p>
      <p>
         <mat-form-field class="col-sm-6">
               <input matInput [matDatepicker]="picker" placeholder="Build due date"
                      [(ngModel)]="data.model.billDueDate"
                      [formControl]="invoiceForm.controls.billDueDate">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>
         <mat-form-field class="col-sm-3">
            <input matInput placeholder="Amount due"
                   autocomplete="off"
                   type="number"
                   [(ngModel)]="data.model.amountDue"
                   [formControl]="invoiceForm.controls.amountDue"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error
                    *ngIf="invoiceForm.controls.amountDue.hasError('required')">
               Amount due is required
            </mat-error>
         </mat-form-field>
         <mat-form-field class="col-md-3">
            <input matInput placeholder="Amount paid"
                   autocomplete="off"
                   type="number"
                   [(ngModel)]="data.model.amountPaid"
                   [formControl]="invoiceForm.controls.amountPaid"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
      </p>
      <p>
         <mat-form-field class="col-md-6">
            <input matInput placeholder="Client contact(Email)"
                   autocomplete="off"
                   maxlength="30"
                   type="email"
                   [(ngModel)]="data.model.billToClientEmail"
                   [formControl]="invoiceForm.controls.billToClientEmail"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error
                    *ngIf="invoiceForm.controls.billToClientEmail.hasError('email') && !invoiceForm.controls.billToClientEmail.hasError('required')">
               Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="invoiceForm.controls.billToClientEmail.hasError('required')">
               Email is <strong>required</strong>
            </mat-error>
         </mat-form-field>

         <mat-form-field class="col-md-6">
            <input matInput placeholder="Client contact(Phone)"
                   autocomplete="off"
                   maxlength="15"
                   type="tel"
                   [(ngModel)]="data.model.billToClientPhone"
                   [formControl]="invoiceForm.controls.billToClientPhone"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
      </p>

      <p>
         <mat-form-field class="col-md-3">
            <input matInput placeholder="Client Adress"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.billToClientAdress"
                   [formControl]="invoiceForm.controls.billToClientAdress"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
         <mat-form-field class="col-md-3">
            <input matInput placeholder="Client City"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.billToClientCity"
                   [formControl]="invoiceForm.controls.billToClientCity"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
         <mat-form-field class="col-md-3">
            <input matInput placeholder="Client State"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.billToClientState"
                   [formControl]="invoiceForm.controls.billToClientState"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
         <mat-form-field class="col-md-1">
            <mat-select placeholder="Client Country" [(ngModel)]="data.model.billToClientCountry"  [formControl]="invoiceForm.controls.billToClientCountry">
               <mat-option *ngFor="let countriy of elems.countries" [value]="countriy">
                  {{ countriy }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field class="col-md-2">
            <input matInput placeholder="Client ZipCode"
                   type="number"
                   autocomplete="off"
                   maxlength="30"
                   [(ngModel)]="data.model.billToClientZipCode"
                   [formControl]="invoiceForm.controls.billToClientZipCode"
                   [errorStateMatcher]="matcher">
            <mat-icon matSuffix>mode_edit</mat-icon>
         </mat-form-field>
      </p>
      <p>
         <mat-form-field class="col-md-12">
               <textarea matInput placeholder="Description" [(ngModel)]="data.model.description"
                         [formControl]="invoiceForm.controls.description"></textarea>
         </mat-form-field>
      </p>
      <div class="col-md-12" [innerHTML]="data.model._reject"></div>
      <button  style="display: none" #formSubmit> </button>
   </form>
</div>
<div mat-dialog-actions>
   <button mat-button [disabled]="loading || (!invoiceForm.valid && invoiceForm.submitted)"    (click)="onSuccess()" mat-raised-button color="primary"tabindex="2">Save</button>
   <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
   <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>

